<dialectconfig id="config">

	<!-- Driver information -->
	<dialectName>H2</dialectName>
    <dialectVersion>All</dialectVersion>
	<url>jdbc:h2:$DATABASENAME$</url>
	<driverName>org.h2.Driver</driverName>
    <defaultUser>sa</defaultUser>
    <defaultPort>0</defaultPort>

    <liquibaseTypename>h2</liquibaseTypename>

    <statementSeparator>;</statementSeparator>

	<!-- Which class implements the Dialect interface -->
	<implementationClass>com.keydeveloper.examples.plugins.h2.H2Dialect</implementationClass>

	<!-- Which class implements the IColumnEditor interface. This setting is optional. -->
	<!--columnEditorClass>com.keydeveloper.examples.plugins.h2.H2ColumnEditor</columnEditorClass-->

	<!-- Which class implements the ITableEditor interface. This setting is optional -->
	<!--tableEditorClass>com.keydeveloper.examples.plugins.h2.H2TableEditor</tableEditorClass-->
	
	<!-- 
	    Data type specifications
	 -->
	<dataTypes>
      <datatype id="2">
        <name>RESULT_SET</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>-10</javaSqlType>
        <maxPrecision>0</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>false</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="3">
        <name>TINYINT</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>-6</javaSqlType>
        <maxPrecision>3</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="4">
        <name>BIGINT</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>-5</javaSqlType>
        <maxPrecision>19</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="5">
        <name>IDENTITY</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>-5</javaSqlType>
        <maxPrecision>19</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>true</isAutoIncrementable>
      </datatype>
      <datatype id="6">
        <name>LONGVARBINARY</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>-4</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="7">
        <name>VARBINARY</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>-3</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="8">
        <name>BINARY</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>-2</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="9">
        <name>UUID</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>-2</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="10">
        <name>LONGVARCHAR</name>
        <category>Character</category>
        <storageBits>0</storageBits>
        <javaSqlType>-1</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>true</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="11">
        <name>CHAR</name>
        <category>Character</category>
        <storageBits>0</storageBits>
        <javaSqlType>1</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>true</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>true</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="12">
        <name>NUMERIC</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>2</javaSqlType>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>PRECISION,SCALE</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="13">
        <name>DECIMAL</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>3</javaSqlType>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>PRECISION,SCALE</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="14">
        <name>INTEGER</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>4</javaSqlType>
        <maxPrecision>10</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="15">
        <name>SERIAL</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>4</javaSqlType>
        <maxPrecision>10</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>true</isAutoIncrementable>
      </datatype>
      <datatype id="16">
        <name>SMALLINT</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>5</javaSqlType>
        <maxPrecision>5</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="17">
        <name>FLOAT</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>6</javaSqlType>
        <maxPrecision>17</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="18">
        <name>REAL</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>7</javaSqlType>
        <maxPrecision>7</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="19">
        <name>DOUBLE</name>
        <category>Numeric</category>
        <storageBits>0</storageBits>
        <javaSqlType>8</javaSqlType>
        <maxPrecision>17</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="20">
        <name>VARCHAR</name>
        <category>Character</category>
        <storageBits>0</storageBits>
        <javaSqlType>12</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>true</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>true</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="21">
        <name>VARCHAR_IGNORECASE</name>
        <category>Character</category>
        <storageBits>0</storageBits>
        <javaSqlType>12</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="22">
        <name>BOOLEAN</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>16</javaSqlType>
        <maxPrecision>1</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="23">
        <name>DATE</name>
        <category>Date and time</category>
        <storageBits>0</storageBits>
        <javaSqlType>91</javaSqlType>
        <literalPrefix>DATE &apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>8</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="24">
        <name>TIME</name>
        <category>Date and time</category>
        <storageBits>0</storageBits>
        <javaSqlType>92</javaSqlType>
        <literalPrefix>TIME &apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>6</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="25">
        <name>TIMESTAMP</name>
        <category>Date and time</category>
        <storageBits>0</storageBits>
        <javaSqlType>93</javaSqlType>
        <literalPrefix>TIMESTAMP &apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>23</maxPrecision>
        <minScale>0</minScale>
        <maxScale>10</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>true</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="26">
        <name>OTHER</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>1111</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="27">
        <name>GEOMETRY</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>1111</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="28">
        <name>ARRAY</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>2003</javaSqlType>
        <literalPrefix>(</literalPrefix>
        <literalSuffix>&apos;)</literalSuffix>
        <maxPrecision>0</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>false</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>false</caseSensitive>
        <unsignedType>false</unsignedType>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="29">
        <name>BLOB</name>
        <category>Binary</category>
        <storageBits>0</storageBits>
        <javaSqlType>2004</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>true</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
      <datatype id="30">
        <name>CLOB</name>
        <category>Character</category>
        <storageBits>0</storageBits>
        <javaSqlType>2005</javaSqlType>
        <literalPrefix>&apos;</literalPrefix>
        <literalSuffix>&apos;</literalSuffix>
        <maxPrecision>2147483647</maxPrecision>
        <minScale>0</minScale>
        <maxScale>0</maxScale>
        <isColumnLength>false</isColumnLength>
        <isPrecision>true</isPrecision>
        <isScale>false</isScale>
        <caseSensitive>true</caseSensitive>
        <unsignedType>false</unsignedType>
        <createParams>LENGTH</createParams>
        <isNullable>true</isNullable>
        <isAutoIncrementable>false</isAutoIncrementable>
      </datatype>
  </dataTypes>
</dialectconfig>